
<div class="container" style="justify-content: center">
  <div *ngFor="let project of projects" class="card"
    style="width: 50%; height: auto; margin: 2%;">
    <div class="card-header"><strong>{{project.name | uppercase}}</strong></div>
    <div class="card-body">
      <p *ngIf="project.imgSrc" style="text-align: center"><img src='{{project.imgSrc}}' width=100%></p>
      <p><strong>Description: </strong>{{project.description}}</p>
      <p><strong>Link: </strong> <a href='{{project.link}}'>{{project.link}}</a> </p>
      <a [routerLink]="['/details', project.id]" routerLinkActive="active">More Details</a>
    </div>
  </div>
</div>
