<div style="justify-content: center;">
    <div class="container" style="width: 50%; height: auto; margin-left: 25%; display: inline-block; text-align: left;">
        <img src="/assets/images/me.png" alt="avatar" width="30%" style="float:left; padding: 1%;"/>
        <div class="card" style="width: auto; height: auto; margin-top: 1%; margin-left: 20%; padding: 30px;">
            <p>//Sentences about how cool I am//</p>
            </div>
    </div>
    <div class="container" style="width:50%; height:auto; margin-left:25.5%; display: inline-block; text-align: left;">
        <h2>David Yuan</h2>
        <a href = "mailto:davidy804@gmail.com">davidy804@gmail.com</a>
    </div>
</div>
