<div style="justify-content: center;">
    <div class="container" style="width: 50%; height: auto; margin-left: 25%; display: inline-block; text-align: left;">
        <img src="/assets/images/me.png" alt="avatar" width="30%" style="float:left; padding: 1%;"/>
        <div class="card" style="width: auto; height: auto; margin-top: 1%; margin-left: 20%; padding: 30px;">
            <p>Hello! Thank you for checking out my portfolio!</p>
            <p>I have a Bachelor's Degree in Business Information Systems at VCU.</p>
            <p>I am interested in software and web development. I also enjoy analyzing data and working with databases.</p>
            <p>I have a passion for learning about new technologies, hobbies, or just about anything that has an amazing community behind it.</p>
            <p>If you have any opportunites that you think would fit me, please reach out to me!</p>
            </div>
    </div>
    <div class="container" style="width:50%; height:auto; margin-left:25.5%; display: inline-block; text-align: left;">
        <h2>David Yuan</h2>
        <a href = "mailto:davidy804@gmail.com">davidy804@gmail.com</a>
    </div>
</div>
