<div style="text-align: center">
    <div *ngIf="project" class="card"
    style="width: 50%; height: auto; margin: 30px; display: inline-block; text-align: left;">
      <div class="card-header" style="font-weight: bold">{{project.name | uppercase}}</div>
      <div class="card-body">
        <p *ngIf="project.imgSrc" style="text-align: center"><img src='{{project.imgSrc}}' width=100%></p>
        <p><strong>Description: </strong>{{project.description}}</p>
        <p><strong>Link: </strong><a href='{{project.link}}'>{{project.link}}</a></p>
        <p><strong>Details: </strong></p>
          <div class="card-body" *ngFor="let detail of project.details">
            <p *ngIf="detail.imgSrc"><img src='{{detail.imgSrc}}' width=100%></p>
            <p *ngIf="detail.caption"><b>{{detail.caption}}</b></p>
          </div>
        <div class="container row">
            <button type="button" class="btn btn-primary" (click)="goBack()">Back</button>
        </div>
      </div>
    </div>
  </div>